/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    display: grid;
    grid-template-areas: "header"
    "search"
    "hero"
    "shoplinks"
    "subhero"
    "articles"
    "footer";

    .header {
        grid-area: header;
    }

    .search {
        grid-area: search;
    }

    .hero {
        grid-area: hero;
    }

    .shoplinks {
        grid-area: shoplinks;
    }

    .subhero {
        grid-area: subhero;
    }

    .articles {
        grid-area: articles;
    }

    .footer {
        grid-area: footer;
        grid-template-columns: 200px 200px;
    }

    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;
        .subhero {
            display: grid;
        }
    }

    @include lg {
        margin-bottom: 64px;
    }

    @include xl {
        margin-bottom: 64px;
    }
}